html{
  scroll-behavior: smooth;
}
body{
  background: url("../img/blue3.jpg");

}
.row{
  margin: 5% 0;
}
.dark{
  background: black;
  color: white;
}
button #headingThree{
  color: white !important;
}
#mission .card p:hover{
  p:before{
    color: white;
    background: red;
  }
}
@media only screen and (max-width: 768px) {
  #mission{
    font-size: 15px;
    margin-bottom: 30px;
  }
  #tsaGif img{
    height: 400px;
    margin: 0;
    padding: 0;
  }
  #rise{
    margin-bottom: 15px;
  }
  #footer a{
    padding: 1px;
    width: 50%;
  }

}
.card{
  height: 100%;
}
nav{
  background: black;
  color: white;
}
.btn{
  margin: 10px;
}

.carousel img{
  height: 500px;
  width: 400px;
}
#stem-jumbotron{
  color: black;
}

#article h1:hover{
  text-decoration: underline;
}
#footer{
  padding: 20px;
}
#footer img{
  width: 100%;
  height: 60vh;
}
